@model Readz.GoogleBooks.Models.QueryViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container pt-5">
    <h1 class="content">Search For a Title</h1>

    <form asp-controller="Book" asp-action="Index">
        <p>
            <input type="text" name="queryString" />
            <button type="button" class="btn" value="Search"> Search</button>

        </p>
    </form>
    @if (Model.queryString == "null")
    { }
    else
    {

<section class="container content">
    @foreach (var item in Model.Books)
    {

        <img style="width:30px; float:left;margin-right:10px"
             src="@item.VolumeInfo.ImageLinks" alt="bookCover" />

        <div>
            <lable class="font-weight-bold">Title:</lable>
            <span>@item.VolumeInfo.Title</span>
        </div>
        <div>
            <lable class="font-weight-bold">Author(s): </lable>
                <span>@item.VolumeInfo.Authors</span>
        </div>
        <div>
            <lable class="font-weight-bold">Synopsis: </lable>
                <span>@item.VolumeInfo.Description</span>
        </div>
    }



</section>
    }

</div>

